In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
movie_data = requests.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?ref_=bo_cso_ac')

In [3]:
soup = BeautifulSoup(movie_data.content, 'html.parser')

In [6]:
table = soup.find_all(id='table')

In [9]:
type(table)

bs4.element.ResultSet

In [11]:
table_rows = table.find('tr')

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [12]:
import pandas as pd

In [13]:
tables = pd.read_html('file:///C:/Users/morga/Desktop/Desktop/A%20I/Flatiron/Module%201/Project/gross%20website.html')

In [15]:
tables

[     Rank                                       Title Lifetime Gross  Year
 0       1  Star Wars: Episode VII - The Force Awakens   $936,662,225  2015
 1       2                           Avengers: Endgame   $858,373,000  2019
 2       3                                      Avatar   $760,507,625  2009
 3       4                               Black Panther   $700,059,566  2018
 4       5                      Avengers: Infinity War   $678,815,482  2018
 ..    ...                                         ...            ...   ...
 195   196                                        Coco   $209,726,015  2017
 196   197        Mission: Impossible - Ghost Protocol   $209,397,903  2011
 197   198                            Wedding Crashers   $209,255,921  2005
 198   199                             Sherlock Holmes   $209,028,679  2009
 199   200              Dawn of the Planet of the Apes   $208,545,589  2014

 [200 rows x 4 columns]]

In [16]:
type(tables)

list

In [17]:
len(tables)

1

In [20]:
tables[0]

     Rank                                       Title Lifetime Gross  Year
0       1  Star Wars: Episode VII - The Force Awakens   $936,662,225  2015
1       2                           Avengers: Endgame   $858,373,000  2019
2       3                                      Avatar   $760,507,625  2009
3       4                               Black Panther   $700,059,566  2018
4       5                      Avengers: Infinity War   $678,815,482  2018
..    ...                                         ...            ...   ...
195   196                                        Coco   $209,726,015  2017
196   197        Mission: Impossible - Ghost Protocol   $209,397,903  2011
197   198                            Wedding Crashers   $209,255,921  2005
198   199                             Sherlock Holmes   $209,028,679  2009
199   200              Dawn of the Planet of the Apes   $208,545,589  2014

[200 rows x 4 columns]

In [21]:
table_df = tables[0]

In [22]:
type(table_df)

pandas.core.frame.DataFrame